<html>
  
  <nav>
    <h2>Angular-Learning <a routerLink="/view-emp" routerLinkActive="active">View Employee</a> <a routerLink="/edit-emp" routerLinkActive="active">Edit Employee</a><a routerLink="/quantity-increment" routerLinkActive="active">Quantity Increment</a><a routerLink="/edit-emp-template-drive" routerLinkActive="active">Edit employee template drive</a><a routerLink="/edit-emp-reactive" routerLinkActive="active">edit-emp-reactive</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/user" routerLinkActive="active">User Details</a>
  </h2>

  </nav>
  <router-outlet></router-outlet>
  </html>
  